name: Code Analysis

on:
  pull_request:
    branches:
      - main
      - pipeline 
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/code.analysis.yml"

env:
  GO_VERSION: 1.19

jobs:

  analysis:
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
    
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Revive Action
      uses: morphy2k/revive-action@v2.4.1

    - name: Check formatting
      run: test -z $(gofmt -l .) || (gofmt -l . && exit 1)
      
    - name: misspell
      uses: sobolevn/misspell-fixer-action@0.1.0
